@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import "tailwindcss";


/* @tailwind base;
@tailwind components;
@tailwind utilities; */


body {
  font-family: 'Roboto', sans-serif;
}

@layer utilities {
  .fade-in {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  
  .fade-in-show {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  
  .fade-in-hide {
    opacity: 0;
    transform: translateY(10px); /* Optional: Adds a slight movement */
    transition: opacity 0.6s ease, transform 0.6s ease; /* Smooth transition */
  }

  /* Add a delay for the paragraph */
.paragraph-fade-in-show {
  transition-delay: 0.5s; /* Adjust the delay as needed */
}

  /* Add a delay for the paragraph */
  .paragraph-fade-in-show-extra {
    transition-delay: 1.0s; /* Adjust the delay as needed */
  }

  /* Add a delay for the paragraph */
  .paragraph-fade-in-show-extra-large {
    transition-delay: 1.5s; /* Adjust the delay as needed */
  }

}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #498dd6;
  color: #498dd6;
}


